<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/style.css">
    <title>Task Web </title>
</head>
<body>
    <div class="container">
      <h3>Input Task</h3>
      <div class="box-input">
        <form action="/" method="post">
            <div class="box-input">
                <label for="name">Task Detail</label>
                <input type="text" name="task" placeholder="Task Detail" required>
            </div>
            
            <div class="box-input">
                <label for="name">Assignee</label>
                <input type="text" name="assignee" placeholder="Assignee" required>
            </div>

            <div class="box-input">
                <label for="name">Task Detail</label>
                <input type="date" name="deadline" required>
            </div>

            <input class="submit-task" type="submit" value="Kirim">
        </form>
      </div>
    </div>
</body>
</html>